.main {
  position: absolute;
  right: 30%;
  width: 50%;
  display: grid;
  grid-template-columns: 75% 35%;
  margin-top: 15px;
}

.main-right {
  margin-left: 15px;
}

.main-left-header {
  margin-bottom: 15px;
  display: flex;
}

.main-left-header > .list-group-item-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
