.post-item {
  margin-bottom: 15px;
}

.post-item-wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
}

.post-item-votes {
  margin-right: 10px;
}

.post-item-votes-item {
  display: flex;
  justify-content: center;
}

.post-item-header {
  font-weight: lighter;
}

.post-item-link {
  font-size: larger;
}

.post-item-right {
  margin-left: 10px;
}

.post-item-votes > .up,
.down {
  cursor: pointer;
}
