.topic {
  position: absolute;
  right: 30%;
  width: 50%;
  display: grid;
  grid-template-columns: 75% 35%;
  margin-top: 15px;
}

.topic-jumbo {
  text-align: center;
}

.topic-right {
  margin-left: 15px;
}

.topic-left {
  margin-bottom: 15px;
}
